<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.rpeshkov.alfred-checkvist</string>
	<key>connections</key>
	<dict>
		<key>4B6E17D7-6221-40B9-B32E-640231DE2FA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7395964-72C6-4ACF-B609-92B6C48865B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roman Peshkov</string>
	<key>description</key>
	<string>Quickly open your Checkvist lists from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Checkvist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ll</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-checkvist $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Checkvist</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4B6E17D7-6221-40B9-B32E-640231DE2FA4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://checkvist.com/checklists/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D7395964-72C6-4ACF-B609-92B6C48865B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow displays the lists you have in the Checkvist.

Once imported, please provide the variables:
- cv_login: it's your email
- cv_apikey: API key for your profile. You can find it in your profile settings 'https://checkvist.com/auth/profile#status'

Supported commands:
- ll: Displays all your checklists</string>
	<key>uidata</key>
	<dict>
		<key>4B6E17D7-6221-40B9-B32E-640231DE2FA4</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>D7395964-72C6-4ACF-B609-92B6C48865B2</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cv_apikey</key>
		<string></string>
		<key>cv_login</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>cv_apikey</string>
		<string>cv_login</string>
	</array>
	<key>version</key>
	<string>1.1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/rpeshkov/alfred-checkvist</string>
</dict>
</plist>
